/**
MASAS Post Tool - Stylesheet
Updated: Jan 13, 2014
Independent Joint Copyright (c) 2011-2014 MASAS Contributors.  Published
under the Modified BSD license.  See license.txt for the full text of the license.
*/

html, body {
    font:normal 12px verdana;
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
}
#headerTitleBlock {
    float: left;
    font-size: 150%;
    font-weight: bold;
    padding: 3px;
}
#headerDetailBlock {
    float: right;
    padding: 5px;
    font-size: 85%;
    font-weight: bold;
}
.olControlLoadingPanel {
    background-image: url("../img/layer-loading.gif");
    margin-left: 35%;
    margin-top: 25px;
    position: relative;
    width: 195px;
    height: 11px;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
.editPanel {
    top: 110px;
    left: 0px;
    position: absolute;
    background-color: white;
    border-width: 1px;
    border-style: solid solid solid none;
    border-color: black white black white;
}
.editPanel div {
    width: 38px;
    height: 30px;
    border: 5px solid white;
    background-color: white;
}
.drawPanel {
    top: 70px;
    left: 48px;
    position: absolute;
    background-color: white;
    border: 1px solid black;
}
.drawPanel div {
    width: 38px;
    height: 30px;
    border: 5px solid white;
    background-color: white;
}
.modifyButtonItemActive {
    background-image: url("../img/modify_feature_on.png");
    background-repeat: no-repeat;
}
.modifyButtonItemInactive {
    background-image: url("../img/modify_feature_off.png");
    background-repeat: no-repeat;
}
.saveButtonItemActive {
    background-image: url("../img/save_features_on.png");
    background-repeat: no-repeat;
}
.saveButtonItemInactive {
    background-image: url("../img/save_features_off.png");
    background-repeat: no-repeat;
}
.deleteButtonItemActive {
    background-image: url("../img/delete_feature_on.png");
    background-repeat: no-repeat;
}
.deleteButtonItemInactive {
    background-image: url("../img/delete_feature_off.png");
    background-repeat: no-repeat;
}
.pointButtonItemActive {
    background-image: url("../img/draw_point_on.png");
    background-repeat: no-repeat;
}
.pointButtonItemInactive {
    background-image: url("../img/draw_point_off.png");
    background-repeat: no-repeat;
}
.lineButtonItemActive {
    background-image: url("../img/draw_line_on.png");
    background-repeat: no-repeat;
}
.lineButtonItemInactive {
    background-image: url("../img/draw_line_off.png");
    background-repeat: no-repeat;
}
.polygonButtonItemActive {
    background-image: url("../img/draw_polygon_on.png");
    background-repeat: no-repeat;
}
.polygonButtonItemInactive {
    background-image: url("../img/draw_polygon_off.png");
    background-repeat: no-repeat;
}
.circleButtonItemActive {
    background-image: url("../img/draw_circle_on.png");
    background-repeat: no-repeat;
}
.circleButtonItemInactive {
    background-image: url("../img/draw_circle_off.png");
    background-repeat: no-repeat;
}
.boxButtonItemActive {
    background-image: url("../img/draw_box_on.png");
    background-repeat: no-repeat;
}
.boxButtonItemInactive {
    background-image: url("../img/draw_box_off.png");
    background-repeat: no-repeat;
}
.btnLeftArrow {
    background-image: url("../img/left-btn.gif");
    background-repeat: no-repeat;
    height:16px;
}
.x-item-disabled .btnLeftArrow {
    background-image: url("../img/left-btn-dis.gif");
    background-repeat: no-repeat;
}
.btnRightArrow {
    background-image: url("../img/right-btn.gif");
    background-repeat: no-repeat;
    height:16px;    
}
.x-item-disabled .btnRightArrow {
    background-image: url("../img/right-btn-dis.gif");
    background-repeat: no-repeat;
}
.btnDelete {
    background-image: url("../img/delete.png");
    background-repeat: no-repeat;
    height: 16px;
}
.btnGeolocate {
    background-image: url("../img/geolocate.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.expiresIntervalDefault {
    font-weight: bold;
}
.EntryExpiredTime { color: #808080; }
.locationNotificationMsg .ext-mb-text {
    background-color: white;
    padding: 2px 15px;
    font-weight: bold;
}
.postingCard { margin: 25px; }
.postingCard h1 { margin-bottom: 25px; font-weight: bold; font-size: 150%; }
.postingCard a {
    display: block;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid black;
    width: 250px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}
.TemplateDisplayBox { margin: 5px; padding: 5px; border: 1px solid black; }
.TemplateDisplayBox h2 { margin-bottom: 2px; font-size: 140%; font-weight: bold; }
.TemplateDisplayBox p { margin-left: 10px; line-height: 140%; }
.iconTreeExpand {
    background-image: url("../img/ns-expand.gif");
    background-repeat: no-repeat;
}
.iconTreeCollapse {
    background-image: url("../img/ns-collapse.gif");
    background-repeat: no-repeat;
}
.abortButton {
    background-image: url("../img/abort.png");
    background-repeat: no-repeat;
}
.previousButton {
    background-image: url("../img/previous-page.png");
    background-repeat: no-repeat;
}
.nextButton {
    background-image: url("../img/next-page.png");
    background-repeat: no-repeat;
}
.postingWait {
    height: 70px;
    width: 70px;
    background-image: url("../img/posting-wait.gif");
    background-repeat: no-repeat;
}
.emailToggleField {
    border-width: 0px;
    margin-bottom:10px;
}
.emailToggleField .x-tool-toggle {
    background-position: 0 -255px !important; /*the minus sign*/
}
.emailToggleField .x-fieldset-collapsed .x-tool-toggle {
    background-position: 0 -240px !important; /*the plus sign*/
}
.titleClose {
    margin-left: 25px;
    padding: 0px 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}
.reviewClose {
    margin: 35px 0px 5px 5px;
}
.reviewClose a {
    display: block;
    padding: 10px;
    border: 1px solid black;
    width: 110px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: green;
}
.reviewXmlShow {
    text-align: right;
    margin-right: 10px;
}
.reviewXmlShow a {
    text-decoration: none;
    color: #000000;
    font-style: oblique;
}

/* Colours in Entry Grid, same values as viewing tool */
.redEntryBackground { background-color: #FF0000; }
.yellowEntryBackground { background-color: #FFFF00; }
.greenEntryBackground { background-color: #008000; }
.grayEntryBackground { background-color: #808080; }
.blackEntryBackground { background-color: #000000; }
.blueEntryBackground { background-color: #0000FF; }
.purpleEntryBackground { background-color: #800080; }
